<div class="player-box">
    <h3 class="box-title">
        <i class="fa fa-th"></i> Resources
    </h3>
    <div class="player-content">
        <div class="resource-list col-xs-12">
            <div class="row" *ngFor="let resource of _gameService.map.getCurrentHive().resources">
                <div class="col-xs-12 col-sm-3">
                    <h5 tooltip="{{resource.desc}}" container="body" placement="right">{{resource.name}}</h5>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="progress progress-custom" *ngIf="resource.max !== -1">
                        <progressbar [max]="resource.max" [value]="resource.owned">
                            <span class="amounts">{{resource.owned}} / {{resource.max}}</span>
                        </progressbar>
                    </div>
                    <div class="progress progress-custom" *ngIf="resource.max === -1">
                        <progressbar [max]="0" [value]="0">
                            <span class="amounts">{{resource.owned}}</span>
                        </progressbar>
                    </div>
                </div>
                <!--<div class="col-xs-12 col-sm-9">
                    <div class="progress progress-custom" ng-if="resource.max !== -1">
                        <div class="progress-bar" role="progressbar" (aria-valuenow)="{{resource.owned}}" (aria-valuemin)="0" (aria-valuemax)="{{resource.max}}" ng-style="{width: (100*(resource.owned/resource.max)) + '%'}">
                            <span class="workers">
                        <i class="fa" ng-class="$ctrl.getWorkerIcon(key)"></i>
                        <span ng-bind="$ctrl.getWorkerRate(key)"></span>/s

                            </span>
                            <span class="amounts" ng-bind="value[0] + ' / ' + value[1]"></span>

                        </div>
                    </div>
                    <div class="progress progress-custom" ng-if="value[1] === -1">
                        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" ng-style="{width: '100%'}">
                            <span class="workers">
                                <i class="fa" ng-class="$ctrl.getWorkerIcon(key)"></i>
                        <span ng-bind="$ctrl.getWorkerRate(key)"></span>/s
                            </span>
                            <span class="amounts" ng-bind="value[0]"></span>
                        </div>
                    </div>

                </div>-->

            </div>
        </div>



        <!--
<table class="table table-condensed">
    <tbody>
        <tr ng-repeat="(key, value) in $ctrl.resources" ng-show="value[1] > 0">
            <td ng-bind="$ctrl.resourceTypes[key]"></td>
            <td ng-bind="(value[0] + ' / ' + value[1])"></td>
        </tr>
    </tbody>
</table>
-->
    </div>
</div>