<div class="player-box">
    <h3 class="box-title">
        <i class="icon-bee"></i> Nursery
        <!--[{{$ctrl.hive.getNurseryCount()}} / {{$ctrl.hive.getNurseryLimit()}}]-->
    </h3>
    <div class="player-content">
        <div class="row breeder-container">
            <!--<div ng-repeat="child in $ctrl.hive.getBeesByType('egg')" class="col-xs-12 col-lg-12 animate-repeat">
                <bloqhead-bee mode="NURSE" unit="child" assign="$ctrl.decideFate($id, $type)" can-breed="$ctrl.hive.getPopulationCount()<$ctrl.hive.getPopulationLimit()"></bloqhead-bee>
            </div>
            <div ng-repeat="child in $ctrl.hive.getBeesByType('larva')" class="col-xs-12 col-lg-12 animate-repeat">
                <bloqhead-bee mode="NURSE" unit="child" assign="$ctrl.decideFate($id, $type)" can-breed="$ctrl.hive.getPopulationCount()<$ctrl.hive.getPopulationLimit()"></bloqhead-bee>
            </div>-->
        </div>
    </div>
</div>