<div class="player-box">
    <h3 class="box-title">
        <i class="fa fa-building"></i> Hive Expansion
    </h3>
    <div class="player-content">
        <div class="building-list col-xs-12">
            <div class="scalable-list-button-big" *ngFor="let building of _gameService.map.currentHive.buildings">
                <div *ngIf="building.getNextCost().length > 0">
                    <!--<div placement="bottom" [tooltip]="costTooltip" container="body" #tool="bs-tooltip" triggers="" (click)="tool.toggle()">-->
                    <div placement="bottom" [tooltip]="costTooltip" container="body">
                        <button type="button" [disabled]="!building.canBuild" class="btn btn-xs btn-primary" (click)="_gameService.map.currentHive.build(building)">
                            {{(building.name + ' (' + (building.gifted + building.purchased) + ')')}}
                        </button>
                    </div>
                </div>
                <ng-template #costTooltip>

                    <div style="text-align: left;">
                        <h5>{{building.description}}</h5>

                        <p style="white-space:nowrap">
                            <span>Requires: </span>
                            <span *ngFor="let cost of building.getNextCost()">
                                <i class="fa" [ngClass]="cost.resource.icon" [attr.data-rid]="cost.resource.rid"></i>
                                <!--data-attr="{{$ctrl.resourceTypes[cost.rid].attr}}"-->
                                <span>{{cost.amount}}</span>
                            </span>
                        </p>
                    </div>

                </ng-template>
            </div>
        </div>
    </div>
</div>