<div class="player-box">
    <h3 class="box-title">
        <i class="fa fa-building"></i> Hive Expansion
    </h3>
    <div class="player-content">
        <div class="building-list col-xs-12">
            <div class="scalable-list-button-big" *ngFor="let building of _gameService.map.getCurrentHive().buildings">
                <div *ngIf="building.getNextCost().length > 0">
                    <div placement="bottom" [tooltip]="resourceTooltip" customClass="building-tooltip">
                        <button type="button" [disabled]="!building.canBuild" class="btn btn-xs btn-primary" ngClick="_gameServe.map.getCurrentHive().build(building)">
                            {{(building.name + ' (' + (building.gifted + building.purchased) + ')')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #resourceTooltip>
    <div style="text-align: left;">
        <!--<h5>{{building.description}}</h5>-->
        <p style="white-space:nowrap">
            <span>Requires: </span>
            <!--<span *ngFor="let cost of building.getNextCost()">-->
            <!--<i class="fa" ng-class="$ctrl.resourceTypes[cost.rid].icon"></i>-->
            <!--data-attr="{{$ctrl.resourceTypes[cost.rid].attr}}"-->
            <!--<span>{{cost.amount}}</span>&nbsp;-->
            <!--<span ng-bind="cost.resource"></span>-->
            <!--</span>-->
        </p>
        <!--
        <p ng-repeat="cost in building.costToBuild" data-attr="{{$ctrl.resourceTypes[cost.resourceType].attr}}"><span ng-bind="cost.resource"></span>: <span ng-bind="cost.amount"></span></p>
        -->
    </div>
</ng-template>