<div class="player-box">
    <h3 class="box-title">
        <div class="row">
            <div class="col-xs-5">
                <i class="fa fa-globe"></i> Hive#{{_gameService.map.currentHiveID}}
                <!--{{$ctrl.hive.id}} Population [{{$ctrl.hive.getPopulationCount()}} / {{$ctrl.hive.getPopulationLimit()}}]-->
            </div>
        </div>
    </h3>
    <div class="player-content">
        <div class="row population-container">
            <tabset type="pills">

                <tab heading="Overview" customClass="tab-list-button">
                    <h4>Queens</h4>
                    <population-panel [filter]="{type:BeeTypes.QUEEN, traits:[]}"></population-panel>
                    <h4>Workers</h4>
                    <population-panel [filter]="{type:BeeTypes.WORKER, traits:[]}"></population-panel>
                    <h4>Drones</h4>
                    <population-panel [filter]="{type:BeeTypes.DRONE, traits:[]}"></population-panel>
                </tab>
                <tab heading="Custom View" customClass="tab-list-button">
                    <ul>
                        <li *ngFor="let bee of _gameService.map.getCurrentHive().bees">{{bee.name}}</li>
                    </ul>
                </tab>
            </tabset>
            <!--<div class="col-xs-12">
                <uib-tabset type="pills">

                    <div uib-tab template-url="tab.html" heading="Gender View">
                        <div class="col-xs-6 col-lg-6">
                            <h4>Queens</h4>
                            <bloqhead-population-panel population="$ctrl.hive" filter="{type:'queen',traits:[]}"></bloqhead-population-panel>
                            <h4>Workers</h4>
                            <bloqhead-population-panel population="$ctrl.hive" filter="{type:'worker',traits:[]}"></bloqhead-population-panel>
                            <h4>Drones</h4>
                            <bloqhead-population-panel population="$ctrl.hive" filter="{type:'drone',traits:[]}"></bloqhead-population-panel>
                        </div>
                    </div>

                    <div uib-tab template-url="tab.html" heading="Custom View">

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="btn btn-xs btn-primary trait-filter-item" ng-repeat="c in $ctrl.criteria" ng-click="$ctrl.deleteCriteria($index)">
                                        <div ng-if="c.type='trait'">
                                            <span ng-bind="c.val.name"></span>
                                            <button type="button" class="close" ng-click="$ctrl.deleteCriteria($index)"><span>×</span></button>
                                        </div>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="button" href="javascript:void(0);" ng-click="$ctrl.openTraitSelector()">Add Filter</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <bloqhead-population-panel population="$ctrl.hive" filter="$ctrl.getCustomFilter()"></bloqhead-population-panel>
                                </div>
                            </div>
                        </div>


                    </div>
                </uib-tabset>
            </div>-->
        </div>
    </div>
</div>